
small {
   color: red;
}
.cart-mobile {
   display: block;
   flex: 1;
   padding: 0 1em;

   .list {
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      padding: 1em 0;

      .product {
         padding: 1em 0;

         .row {
            display: flex;

            .image {
               width: 100px;
               height: 100px;

               img {
                  width: 100%;
                  height: auto;
               }
            }

            .details {
               margin-left: 1em;

               h2 {
                  font-size: 1.2em;

                  &.price {
                     margin-top: .5em;
                  }
               }

               p {
                  font-size: .7em;
               }

               h2,
               p {
                  margin: .5px;
               }
            }

            button {
               margin-left: auto;
               margin-right: 2.5em;
               margin-bottom: auto;
            }
         }

         .item-quantity {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button {
               display: flex;
               align-items: center;
               justify-content: center;
               font-weight: bold;
               height: 30px;
               width: 30px;
               padding: 0;
               margin: 0 2em;
            }
         }
      }
   }

   &.information {
      .flex {
         display: flex;
         align-items: center;

         img {
            height: 15px;
            margin-right: 1rem;
         }

         p {
            margin: 0 1rem 0 0;
         }
      }

      form {
         margin: 2em 0;

         input[type=text], input[type=email], select {
            box-sizing: border-box;
            border: 1px solid #707070;
            display: block;
            width: 100%;
            margin: 1em 0;
            padding: 1em;
         }

         label {
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            border: 1px solid #707070;
            margin: 1em 0;
            padding: 1em;
            box-sizing: border-box;

            &.disabled::before {
               content: '';
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background-color: rgba(193, 138, 94, .2);
               cursor: no-drop;
            }

            input {
               position: absolute;
               opacity: 0;
               visibility: hidden;

               &:checked + .radio-box {
                  background-color: #C18A5E;
                  border: 1px solid #C18A5E;
               }
            }

            p {
               flex: 1;
               margin: 0;
            }

            .radio-box {
               height: 10px;
               width: 10px;
               margin-right: 2em;
               border-radius: 100%;
               border: 1px solid #707070;
            }
         }
      }
   }
}

.cart-desktop {
   display: none;
}

.summary {
   background-color: #EEEFF1;
   padding: 1em 0 0;
   margin-top: 2em;

   h1 {
      padding: 0 1em;
   }

   .summary-info {
      display: flex;
      border: 1px solid #707070;
      padding: 1em;
      margin: 0 2em;

      &.no-border-bottom {
         border-bottom: 0;
      }

      &.margin-bottom {
         margin-bottom: 2em;
      }

      h4 {
         font-weight: lighter;
         margin: 0;
         word-wrap: break-word;
         &:first-child {
            min-width: 100px;
            margin-right: 1rem;
         }
      }
   }

   .summary-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2em;

      h3 {
         margin: .5em 0;
         font-weight: lighter;
      }
   }

   .summary-product {
      display: flex;
      align-items: flex-start;
      padding: 0 2em;

      .details {
         flex: 1;
         padding: 0 1em;

         h2 {
            margin-bottom: 0;
         }
         p {
            margin: 0;
            padding: 0;
         }
      }
   }

   .divide {
      margin: .5em 2em;
      height: 1px;
      background-color: #707070;
      opacity: .7;
   }

   p {
      padding: 0 2em;
   }

   .action {
      margin-top: 3em;
      display: flex;

      button {
         width: 50%;
         padding: 1em;
         border: 1px solid #C18A5E;

         &.cancel {
            color: #C18A5E;
         }

         &.checkout {
            background-color: #C18A5E;
            color: #EEEFF1;
         }
      }
   }
}

.confirmation {
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;
   background-color: rgba(255, 255, 255, .5);
   opacity: 0;
   visibility: hidden;
   transition: opacity .2s, visibility .2s;
   font-size: .9rem;


   &.show {
      opacity: 1;
      visibility: visible;
   }

   .summary {
      max-width: 700px;
      height: 80vh;
      overflow-y: auto;
      margin: 0;
      padding: 2em;

      > h1 {
         margin-top: 0;
      }

      > h1, .summary-product, .summary-item {
         padding: 0;
      }

      .divide {
         margin: .5em 0;
      }

      button {
         display: block;
         margin-left: auto;
      }
   }
}

@media screen and (min-width: 768px) {
   .container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
   }
}

@media screen and (min-width: 1024px) {

   .summary {
      max-width: 400px;
      width: 100%;
   }

   .cart-mobile {
      display: none;
   }

   .cart-desktop {
      display: block;
      flex: 1;
      padding: 0 1em;

      .table {
         display: table;
         align-items: center;
         text-align: center;
         width: 100%;

         .tr {
            display: table-row;
            vertical-align: middle;

            .td {
               display: table-cell;
               padding: 1em;
               vertical-align: middle;

               &.first {
                  display: grid;
                  grid-template-columns: auto 1fr;
                  grid-template-rows: auto;
                  align-items: center;
                  text-align: left;

                  .image {
                     width: 100px;
                     height: 100px;

                     img {
                        width: 100%;
                        height: auto;
                     }
                  }

                  .details {
                     margin-left: 1em;

                     h2 {
                        font-size: 1.2em;
                     }

                     p {
                        font-size: .7em;
                     }

                     h2,
                     p {
                        margin: .5px;
                     }
                  }
               }
            }

            &:first-child .td {
               border-bottom: 1px solid #dbdbdb;
            }

            &:last-child .td {
               border-bottom: 1px solid #dbdbdb;
            }

            .item-quantity {
               display: flex;
               justify-content: center;
               align-items: center;

               button {
                  height: 30px;
                  width: 30px;
                  padding: 0;
                  margin: 0 1em;
               }
            }
         }

         .border {
            border: 1px solid #707070;
         }
      }

      &.information {
         .flex {
            display: flex;
            align-items: center;

            h1 {
               margin-right: 1rem;
            }
   
            img {
               height: 15px;
               margin-right: 1rem;
            }
   
            p {
               margin: 0 1rem 0 0;
            }
         }
   
         form {
            .row {
               display: flex;
               justify-content: space-between;

               .col {
                  margin: .5em;
                  flex: 1;

                  input, select {
                     width: 100%;
                     box-sizing: border-box;
                     border: 1px solid #707070;
                     padding: 1em;
                  }
               }
            }

            label {
               position: relative;
               display: flex;
               align-items: center;
               cursor: pointer;
               border: 1px solid #707070;
               margin: 1em 0;
               padding: 1em;
               box-sizing: border-box;

               &.disabled::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(193, 138, 94, .2);
                  cursor: no-drop;
               }

               input {
                  position: absolute;
                  opacity: 0;
                  visibility: hidden;

                  &:checked + .radio-box {
                     background-color: #C18A5E;
                     border: 1px solid #C18A5E;
                  }
               }

               p {
                  flex: 1;
                  margin: 0;
               }

               .radio-box {
                  height: 10px;
                  width: 10px;
                  margin-right: 2em;
                  border-radius: 100%;
                  border: 1px solid #707070;
               }
            }
         }
      }
   }
}

@media screen and (min-width: 1200px) {
   .container {
      padding: 0 7em;
   }
}