.overlay {
   position: fixed;
   background-color: rgba(255, 255, 255, 0.5);
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: .2s;
}

nav {
   width: 120px;
   height: 100vh;
   border-right: 1px solid #E9EAED;
   display: flex;
   top: 0;
   flex-direction: column;
   position: fixed;
   left: -120px;
   z-index: 11;
   background-color: #fff;
   transition: transform .2s;

   &.open {
      transform: translateX(120px);

      +.overlay {
         opacity: 1;
         visibility: visible;
      }
   }

   .desktop {
      display: none;
   }

   .mobile {
      margin-bottom: 2em;
   }

   .logo {
      height: auto;
      width: 100%;
      justify-self: flex-start;

      img {
         height: auto;
         width: 100%;
      }
   }

   ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: 'Quicksand', sans-serif;

      a {
         text-align: center;
         text-decoration: none;
         color: #707070;
         display: block;
         padding: 1.5em 0;
         transition: color .5s;
         font-weight: 500;
         cursor: pointer;

         &:hover {
            color: #C18A5E;
         }
      }

   }

   .icons {
      margin-top: auto;

      .icon {
         &:hover svg {
            filter: sepia(100%) saturate(50%);
         }
      }

      svg {
         display: block;
         margin: auto;
         padding: 1em 0;
         transition: filter .2s;

      }
   }
}

.hamburger {
   cursor: pointer;
   position: fixed;
   left: 2em;
   top: 2em;
   z-index: 9;
}

footer {
   font-family: 'Quicksand', sans-serif;
   margin-top: 5em;
   background-color: #EEEFF1;
   color: #707070;
   padding: 2em;

   .header {
      font-weight: bold;
   }

}

@media only screen and (max-width: 768px) {
   .shop-drawer {
      max-height: 0;
      transition: max-height .2s;
      overflow: hidden;

      &.openMobile {
         max-height: 132.8px;
      }
   }
}

@media only screen and (min-width: 768px) {
   nav {
      width: 100%;
      left: 0;
      right: 0;
      transform: translateX(0) !important;
      padding: 0 1em;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      position: fixed;
      align-items: center;
      justify-content: center;
      border: 0;
      box-sizing: border-box;

      .mobile {
         display: none;
      }

      .desktop {
         display: block;
      }

      ul:not(.shop-drawer),
      .icons {
         display: flex;
         align-items: center;
      }

      .logo {
         height: auto;
         width: 200px;
         align-items: center;

         img {
            height: auto;
            width: 100%;
         }
      }

      ul {
         a {
            padding: .5em 1em;
         }

         .shop-drawer {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s;
            border: 1px solid #EEEFF1;
            background-color: #fff;
            height: auto;
            max-height: auto;

            a {
               transition: all .2s;

               &:hover {
                  background-color: #C18A5E;
                  color: #fff;
               }
            }

            &.openDesktop {
               opacity: 1;
               visibility: visible;
            }
         }
      }

      .icons {
         position: absolute;
         padding-right: inherit;
         right: 0;

         .icon {
            padding: .5em;

            svg {
               padding: 0;
            }
         }
      }
   }

   .hamburger {
      display: none;
   }

   footer {
      display: flex;
      justify-content: center;

      div {
         padding: 0 4em;
      }
   }
}

@media only screen and (min-width: 1024px) {
   nav {
      padding: 0 3em;

      ul {
         a {
            padding: 1em 2em;
         }
      }

      .icons {
         .icon {
            padding: 1em;
         }
      }
   }
}