<nav [class.open]="openNav">
  <a routerLink="" class="mobile">
    <div class="logo">
      <img src="assets/images/LOGO.png" alt="">
    </div>
  </a>
  <ul>
    <li><a routerLink="" (click)="closeNav()">HOME</a></li>
    <li><a routerLink="" (click)="closeNav()">ABOUT</a></li>
    <li class="desktop">
      <a routerLink="">
        <div class="logo">
          <img src="assets/images/LOGO.png" alt="">
        </div>
      </a>
    </li>
    <li (mouseover)="toggleShopDrawerDesktop($event)" (mouseout)="toggleShopDrawerDesktop($event)">
      <a (click)="toggleShopDrawerMobile()">SHOP</a>
      <ul class="shop-drawer" [class.openDesktop]="openShopDrawerDesktop" [class.openMobile]="openShopDrawerMobile">
        <li><a routerLink="shop/iphone-case" (click)="closeNav()">iPhone Case</a></li>
        <li><a routerLink="shop/macbook-skins" (click)="closeNav()">Macbook Skins</a></li>
      </ul>
    </li>
    <li><a routerLink="">CONTACT</a></li>
  </ul>
  <div class="icons">
    <a routerLink="cart" class="icon" (click)="closeNav()">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
        <g id="Group_356" data-name="Group 356" transform="translate(-45 -677)">
          <g id="outline-local_grocery_store-24px" transform="translate(45 677)">
            <g id="Bounding_Boxes">
              <path id="Path_3249" data-name="Path 3249" d="M0,0H30V30H0Z" fill="none" />
            </g>
            <g id="Outline" transform="translate(1 2)">
              <g id="Group_316" data-name="Group 316">
                <path id="Path_3250" data-name="Path 3250" d="M7,18a2,2,0,1,0,2,2A2,2,0,0,0,7,18Z"
                  transform="translate(0.502 4)" fill="#707070" />
                <path id="Path_3251" data-name="Path 3251" d="M17,18a2,2,0,1,0,2,2A2,2,0,0,0,17,18Z"
                  transform="translate(5 4)" fill="#707070" />
              </g>
            </g>
          </g>
          <path id="Path_3252" data-name="Path 3252"
            d="M19.913,17.4a2.565,2.565,0,0,0,2.275-1.442l4.654-9.086A1.4,1.4,0,0,0,25.711,4.8H6.473L5.251,2H1V4.8H3.6l4.68,10.626L6.525,18.842A2.808,2.808,0,0,0,8.8,23H24.4V20.2H8.8l1.43-2.8ZM7.707,7.6H23.5l-3.588,7H10.788Z"
            transform="translate(45 677)" fill="#707070" />
        </g>
      </svg>
      <span *ngIf="getCount()">{{getCount()}}</span>
    </a>
    <a routerLink="profile" class="icon" (click)="closeNav()">
      <svg id="baseline-perm_identity-24px" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
        viewBox="0 0 30 30">
        <path id="Path_381" data-name="Path 381"
          d="M15,6.613A2.887,2.887,0,1,1,12.112,9.5,2.887,2.887,0,0,1,15,6.613m0,12.375c4.084,0,8.387,2.008,8.387,2.888v1.513H6.612V21.875c0-.88,4.3-2.888,8.388-2.888M15,4a5.5,5.5,0,1,0,5.5,5.5A5.5,5.5,0,0,0,15,4Zm0,12.375c-3.671,0-11,1.843-11,5.5V26H26V21.875C26,18.218,18.671,16.375,15,16.375Z"
          transform="translate(0)" fill="#707070" />
        <path id="Path_382" data-name="Path 382" d="M0,0H30V30H0Z" fill="none" />
      </svg>
    </a>
  </div>
</nav>
<div class="overlay" (click)="closeNav()"></div>
<div class="hamburger" (click)="toggleNav()">
  <svg id="baseline-notes-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path id="Path_1323" data-name="Path 1323" d="M3,18H15V16H3ZM3,6V8H21V6Zm0,7H21V11H3Z" fill="#707070" />
    <path id="Path_1324" data-name="Path 1324" d="M0,0H24V24H0Z" fill="none" />
  </svg>
</div>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div>
    <p class="header">details</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempore similique mollitia aspernatur repudiandae
      earum molestiae asperiores, hic nam architecto?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempore similique mollitia aspernatur repudiandae
      earum molestiae asperiores, hic nam architecto?</p>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempore similique mollitia aspernatur repudiandae
      earum molestiae asperiores, hic nam architecto?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempore similique mollitia aspernatur repudiandae
      earum molestiae asperiores, hic nam architecto?</p>
  </div>
  <div>
    <p class="header">material</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempore similique mollitia aspernatur repudiandae
      earum molestiae asperiores, hic nam architecto?</p>
  </div>
</footer>