/* You can add global styles to this file, and also import other style files */
@import url('assets/css//normalize.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700,800,900|Roboto:400,700&display=swap');

html,
body {
   height: 100%;
   overflow-x: hidden;
   font-family: 'Quicksand', sans-serif;
}

body.hide-overflow {
   overflow: hidden;
}

p, span {
   font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}

.container {
   padding: 0 2em;
   height: inherit;
   width: inherit;
   box-sizing: border-box;
}

main {
   width: 100%;
   box-sizing: border-box;
   margin-top: 5em;
   color: #707070;
}

@media screen and (min-width: 768px) {
   main {
      margin-top: 0;
   }
}

button {
   background-color: transparent;
   border: 0;
   outline: 0;
   cursor: pointer;
   padding: 0;
}