/* You can add global styles to this file, and also import other style files */
@import url('assets/css//normalize.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500|Roboto:400,700&display=swap');

html,
body {
   height: 100%;
   overflow-x: hidden;
}

body.hide-overflow {
   overflow: hidden;
}

.container {
   padding: 0 2em;
   height: inherit;
   width: inherit;
   box-sizing: border-box;
}